<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>name</th>
        <th>email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.name | uppercase}} </td>
          <td>{{user.email}} </td>
        </tr>
      </tbody>
    </table>
  </div>  
